<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
<h1>Consulta de materias:</h1>
<div class="tabla-datos">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>

            <th>Código</th>
            <th>Materia</th>
            <th>Salón</th>
	    <th>Horario</th>
          
        </tr>
                       
        <% if(data.length){ 
                        
         for(var i = 0; i < data.length; i++) { %>
         
        <tr>

            <td><%=data[i].id_materia%></td>
            <td><%=data[i].nombre_materia%></td>
            <td><%=data[i].salon_materia%></td>
	    <td><%=data[i].horario_materia%></td>

        </tr>
    <% }
    
     }else{ %>
         <tr>
            <td colspan="5">No Data</td>
         </tr>
    <% } %>
                                      
    </table>
</div>

<div class="page-data">
     <ul class="err-area"></ul>
</div>


</body>
</html>
