<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
    </head>
<body>
<h1>La tabla Estudiante:</h1>
    <table border="1">
        <tr>
            <th>Código</th>
            <th>Primer nombre</th>
            <th>Segundo nombre</th>
	           <th>Primer apellido</th>
            <th>Segundo apellido</th>
	           <th>Semestre</th>
            <th>Fecha de ingreso</th>
        </tr>

        <% if(data.length){

         for(var i = 0; i < data.length; i++) { %>

        <tr>

            <td><%=data[i].id_est%></td>
            <td><%=data[i].primer_nombre_est%></td>
            <td><%=data[i].segundo_nombre_est%></td>
	          <td><%=data[i].primer_apellido_est%></td>
            <td><%=data[i].segundo_apellido_est%></td>
	          <td><%=data[i].semestre_est%></td>
            <td><%=data[i].fecha_ingreso_est.getDate()%>/<%=data[i].fecha_ingreso_est.getMonth()+1%>/<%=data[i].fecha_ingreso_est.getFullYear()%></td>
        </tr>
    <% }

     }else{ %>
    <% } %>

    </table>

</body>
</html>
