<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
    </head>
<body>
<h1>La tabla Profesor:</h1>
    <table border="1">
        <tr>

            <th>Código</th>
            <th>Primer nombre</th>
            <th>Segundo nombre</th>
	          <th>Primer apellido</th>
            <th>Segundo apellido</th>
	          <th>Escuela</th>
            <th>Fecha de incorporación</th>
        </tr>

        <% if(data.length){

         for(var i = 0; i < data.length; i++) { %>

        <tr>

            <td><%=data[i].id_prof%></td>
            <td><%=data[i].primer_nombre_prof%></td>
            <td><%=data[i].segundo_nombre_prof%></td>
	          <td><%=data[i].primer_apellido_prof%></td>
            <td><%=data[i].segundo_apellido_prof%></td>
	          <td><%=data[i].escuela_prof%></td>
            <td><%=data[i].fecha_incorporacion_prof.getDate()%>/<%=data[i].fecha_incorporacion_prof.getMonth()+1%>/<%=data[i].fecha_incorporacion_prof.getFullYear()%></td>
        </tr>
    <% }

     }else{ %>

    <% } %>

    </table>

</body>
</html>
